<ion-header class="ion-no-margin">
  <ion-toolbar color="tertiary">
    <ion-title text-center>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">

  <div class="cloud-background">

    <div class="ion-text-center logo">
      <strong>A-care</strong>
    </div>



    <form [formGroup]="form" class="div_cadastro">
      <ion-item class="input_cadastro">
        <ion-label>Nome:</ion-label>
        <ion-input type="text" formControlName="nome" placeholder="Digite seu nome..."></ion-input>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>Profissão:</ion-label>
        <ion-input type="text" formControlName="profissao" placeholder="Digite sua profissão..."></ion-input>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>Sexo:</ion-label>
        <ion-select formControlName="sexo">
          <ion-select-option size="full" value="feminino">Feminino</ion-select-option>
          <ion-select-option size="full" value="masculino">Masculino</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>Idade:</ion-label>
        <ion-input type="number" formControlName="idade" placeholder="Digite sua idade..."></ion-input>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>E-mail:</ion-label>
        <ion-input type="text" formControlName="email" placeholder="Digite seu e-mail..."></ion-input>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>Senha:</ion-label>
        <ion-input type="password" formControlName="senha" placeholder="Digite sua senha..."></ion-input>
      </ion-item>
      <ion-button (click)="register()" class="div_botao">Cadastrar-se</ion-button>
      <ion-button class="div_botao" routerLink="/login">Login</ion-button>
    </form>

    <div>
      <p class="form-group" *ngIf="errorMessage.length > 0">
        {{errorMessage}}</p>

      <p class="form-group" *ngIf="error.message.length > 0">
        {{error.message}} </p>

      <p class="form-group" *ngIf="message.length > 0">
        {{message}} </p>
    </div>
  </div>
</ion-content>