<ion-header class="ion-no-margin">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="cloud-background">
    <div class="div_cadastro">
      <ion-item class="input_cadastro">
        <ion-label>E-mail:</ion-label>
        <ion-input autofocus="true" placeholder="Digite seu e-mail..."></ion-input>
      </ion-item>

      <ion-item class="input_cadastro">
        <ion-label>Senha:</ion-label>
        <ion-input placeholder="Digite sua senha..."></ion-input>
      </ion-item>

      <div class="div_botao">
        <ion-button class="botão-cadastrar">Cadastrar</ion-button>
      </div>
    </div>
  </div>
</ion-content>