<ion-header class="ion-no-margin">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div class="cloud-background">
    <form (ngSubmit)="mostra()"class="div_cadastro">
      <ion-item class="input_cadastro">
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="user.nome" name="nome" placeholder="Digite seu nome..."></ion-input>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>Celular:</ion-label>
        <ion-input type="number" [(ngModel)]="user.celular" name="celular" placeholder="Digite seu celular..."></ion-input>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>E-mail:</ion-label>
        <ion-input type="text" [(ngModel)]="user.email" name="email" placeholder="Digite seu e-mail..."></ion-input>
      </ion-item>
      <ion-item class="input_cadastro">
        <ion-label>Senha:</ion-label>
        <ion-input type = "password" [(ngModel)]="user.senha" name="senha" placeholder="Digite sua senha..."></ion-input>
      </ion-item>
      <ion-button type="submit"  class="div_botao" routerLink = "/login">Cadastrar</ion-button>
    </form>
  </div>
</ion-content>