<ion-header>
  <ion-toolbar>
    <ion-title><strong>Perfil</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="top-div">
    <ion-avatar id="perfil-avatar">
      <img [src]="imagemUsuario	||	'../../assets/no-image.jpg'">
    </ion-avatar>
  </div>

  <div id="bottom-div">
    <div class="user-data">Nome de Usuário: {{nomeUsuario}}</div>
    <div class="user-data">E-mail: {{emailUsuario}}</div>
    <div class="user-data">Idade: {{idadeUsuario}}</div>
    <div class="user-data">Sexo: {{sexoUsuario}}</div>

    <div class="user-data ion-text-center">
      <ion-button class="logout botao-sair" color="vermelho" (click)="sair()"> Desconectar
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>