<ion-header>
  <ion-toolbar>
    <ion-title><strong>Perfil</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="top-div">  
    <ion-avatar id="perfil-avatar">
      <img src="../../../assets/img_usuario.png">
    </ion-avatar>

    <ion-fab color="primary" vertical="top" horizontal="center" slot="fixed">
      <ion-fab-button>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>   
</div>

<div id="bottom-div">
<div class="user-data">Nome de Usuário:</div>
<div class="user-data">E-mail:</div>
<div class="user-data">Idade:</div>
<div class="user-data">Sexo:</div>
</div> 

</ion-content>
  <ion-item class="ion-padding">
    <ion-button class="logout" fill="solid" color="vermelho" (click) = "sair()"> Sair da Conta
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-item>