<ion-header>
  <ion-toolbar>
    <ion-title>Ajuda Médica</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-row class="ion-align-items-center  ion-margin--top">
    <ion-col size="auto">
      <h2><strong>Catálogo de profissionais</strong> </h2>
    </ion-col>

    <ion-col class="ion-text-right">
  </ion-col>
</ion-row>
<!---->
<ion-card class = "ion-margin-bottom">
  <ion-card-header>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologa1.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

        <ion-col>
            <ion-card-title> {{"Vitória Emily Gabriela"}}</ion-card-title>
            <ion-card-subtitle> {{"Psiquiatra"}} </ion-card-subtitle>
            <ion-card-content>
             Sou Psicóloga, com pós-graduação em clínica psicanalítica. Também possuo graduação em enfermagem e obstretícia ao qual agraga muito em meu trabalho no entendimento do paciente como um todo.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
</ion-card>

<!---->
<ion-card class = "ion-margin-bottom">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologa2.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

        <ion-col>
          <ion-card-title> {{"Maria Emanuelly Nunes"}}</ion-card-title>
          <ion-card-subtitle> {{"Neurologista"}} </ion-card-subtitle>
          <ion-card-content>
            Se você se sente estressado,ansioso, angustiado, ou até mesmo indeciso, querendo um crescimento pessoal, uma autoconfiança, me manda uma mensagem aqui que podemos sair juntos dessa!
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
<!---->
<ion-card class = "ion-margin-bottom">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologa3.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

        <ion-col>
        <ion-card-title> {{"Sara Débora Milena"}}</ion-card-title>
        <ion-card-subtitle> {{"Psicóloga"}} </ion-card-subtitle>
        <ion-card-content>
          Psicóloga clínica com especialização em Assistência a Usuários de Álcool e Outras Drogas.
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card>
<!---->
<ion-card class = "ion-margin-bottom">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologo1.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

          <ion-col>
            <ion-card-title> {{"Vitor Vinicius Luís Corte"}}</ion-card-title>
            <ion-card-subtitle> {{"Psicólogo"}} </ion-card-subtitle>
            <ion-card-content>
              Olá! Aqui é o Vitor, estou aqui com a intenção de ajudar no que você precisar, pode ser uma conversa, um desabafo, pois sei com essa vida corrida que vivemos hoje, está cada vez mais difícil de encontrar uma solução.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
<!---->
<ion-card class = "ion-margin-bottom">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologa4.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

          <ion-col>
            <ion-card-title> {{"Márcia Lorena Jéssica"}}</ion-card-title>
            <ion-card-subtitle> {{"Psquiatra"}} </ion-card-subtitle>
            <ion-card-content>
              Olá! Aqui é o Vitor, estou aqui com a intenção de ajudar no que você precisar, pode ser uma conversa, um desabafo, pois sei com essa vida corrida que vivemos hoje, está cada vez mais difícil de encontrar uma solução.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
<!---->
<ion-card class = "ion-margin-bottom">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologa5.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

          <ion-col>
            <ion-card-title> {{"Sophie Bianca Natália"}}</ion-card-title>
            <ion-card-subtitle> {{"Neurologista"}} </ion-card-subtitle>
            <ion-card-content>
              Olá, muito prazer! Seja bem-vindo(a) ao meu perfil. Tomar a decisão de fazer a terapia não é sempre fácil, porém o autoconhecimento pode trazer inúmeros benefícios a você. Atendo adolescentes e adultos.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
<!---->
<ion-card class = "ion-margin-bottom">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologa6.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

          <ion-col>
            <ion-card-title> {{"Emily Pietra Aparecida"}}</ion-card-title>
            <ion-card-subtitle> {{"Psicóloga"}} </ion-card-subtitle>
            <ion-card-content>
            Está em busca de um espaço para uma reflexão sobre si mesmo(a) e melhor  compreensão a respeito de seu problema atual? Realizo a psicoterapia breve de orientação psicanalítica com adolescentes e adultos.
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
<!---->
  <ion-card class = "ion-margin-bottom">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <img src="./assets/img/Psicologo2.jpg" alt="Foto">
          </ion-avatar>
        </ion-col>

          <ion-col>
            <ion-card-title> {{"Enrico Leonardo Farias"}}</ion-card-title>
            <ion-card-subtitle> {{"Psicólogo"}} </ion-card-subtitle>
            <ion-card-content>
              A psocologia é uma área ampla e diversa, como devia ser, já que estuda e cuida do ser mais amplo e diverso que caminha por este planeta: o ser humano.
            </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-row class="ion-align-items-center  ion-margin--top">
    <ion-col size="auto">
    <h2><strong>  </strong> </h2>
    </ion-col>
  </ion-row>
</ion-content>