
<ion-content class="ion-padding">
  <h1>
    <strong>
      Olá {{nomeUsuario}}
    </strong>
  </h1>

  <form *ngIf = "usuarioLogado != null" [formGroup] = "form">
    <ion-item class = "ion-margin-top ion-align-items-center">
      <ion-icon name="chatbox-outline" slot="start"></ion-icon>
      <ion-textarea placeholder="Compartilhe sua história!" formControlName="conteudo"></ion-textarea>
      <ion-button (click) = "postar()" block><ion-icon name="arrow-forward"></ion-icon></ion-button>
    </ion-item>
  </form>


  <ion-row class="ion-align-items-center  ion-margin--top">

    <ion-col size="auto">
      <h2><strong>Últimos posts</strong> </h2>
    </ion-col>

    <ion-col class="ion-text-right">
      <ion-text color="medium">
        Mais
      </ion-text>
    </ion-col>

  </ion-row>

  <ion-card *ngFor = "let post of posts$ | async" class = "ion-margin-bottom">
    <ion-card-header>
      <ion-grid>

        <ion-row class="ion-align-items-center">
          <ion-col size="auto">
          <ion-avatar>
            <img src="{{post.proprietario_imagem}}" alt="foto do usuario maria">
          </ion-avatar>
          <ion-icon name="add"></ion-icon>
        </ion-col>

          <ion-col>
            <ion-card-title> {{post.proprietario}}</ion-card-title>
            <ion-card-subtitle> {{post.proprietario_profissao}} </ion-card-subtitle>
          </ion-col>

        </ion-row>
      </ion-grid>

      <ion-badge> Novo! </ion-badge>
      <!--<ion-badge class="ion-margin-start">Likes 95</ion-badge>-->

    </ion-card-header>

    <ion-card-content>
      {{post.conteudo}}
    </ion-card-content>

  </ion-card>

  <ion-row class="ion-align-items-center  ion-margin--top">

    <ion-col size="auto">
      <h2><strong>Notícias</strong> </h2>
    </ion-col>

    <ion-col class="ion-text-right">
      <ion-text color="medium">
        Mais
      </ion-text>
    </ion-col>

  </ion-row>

  <ion-card class = "ion-margin-bottom">
    <img class = "imagem-card" src="https://images.pexels.com/photos/97906/pexels-photo-97906.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> 
    
    <ion-card-subtitle class ="ion-padding"> Segundo Dados da OMS o Brasil é o segundo País mais Ansioso sendo 9.3% da População.</ion-card-subtitle>

  </ion-card>

  <ion-card class = "ion-margin-bottom">
    <img class = "imagem-card" src="https://images.pexels.com/photos/2475878/pexels-photo-2475878.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""> 
    
    <ion-card-subtitle class = "ion-padding"> Exercicios são recomendados tanto para ter uma boa Saúde quanto para tratamento para Ansiedade, então comece o quanto antes e seja saúdavel.</ion-card-subtitle>

  </ion-card>

</ion-content>