<ion-header>
  <ion-toolbar>
    <ion-title>
      <strong>Treino de Respiração</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="cloud-background">
    <div>
      <strong>Respiração Profunda</strong>
    </div>
    <div>
      <ion-card>
        <ion-slides pager="true">
          <ion-slide class="slide">
            <h1 class="text">Passo 1: Sente-se em posição ereta. Pode ser no chão ou em uma cadeira.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 2: Puxe o ar pelo nariz, de forma lenta e profunda.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 3: Na hora de soltar o ar, faça um biquinho com a boca</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 4: Repita 10 vezes.</h1>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>
    <br>

    <div>
      <strong>Contagem de três em três</strong>
    </div>
    <div>
      <ion-card>
        <ion-slides pager="true">
          <ion-slide class="slide">
            <h1 class="text">Passo 1: Inspire o ar enquanto começa a contar até três, segure no pulmão por três
              segundos.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 2: Solte todo o ar fazendo a mesma contagem de três segundos.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 3: Repita o processo repetidas vezes para sentir alívio!</h1>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>
    <br>

    <div>
      <strong>Uma narina de cada vez</strong>
    </div>
    <div>
      <ion-card>
        <ion-slides pager="true">
          <ion-slide class="slide">
            <h1 class="text">Passo 1: Com a ajuda do dedo indicador pressione uma narina e inspire profundamente.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 2: Agora expire pressionando com a ajuda do dedo indicador a outra narina.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 3: Para aumentar a sensação de alívio, alterne a ordem de qual narina irá inspirar e
              qual irá expirar.</h1>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>
    <br>

    <div>
      <strong>Quadrada</strong>
    </div>
    <div>
      <ion-card>
        <ion-slides pager="true">
          <ion-slide class="slide">
            <h1 class="text">Passo 1: Inspire pelo nariz e contando lentamente até quatro.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 2: Depois segure o ar nos pulmões por mais quatro segundos.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 3: Expire lentamente pela boca por quatro segundos.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 4: Após "esvaziá-los", mantenha-se assim por mais quatro.</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 5: Repita até se sentir aliviado</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">É como se você, ao final, estivesse formando um quadrado respiratório,
              com quatro segundos em cada passo, daí o nome da técnica.</h1>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>
    <br>

    <div>
      <strong>Expiração alongada</strong>
    </div>
    <div>
      <ion-card>
        <ion-slides pager="true">
          <ion-slide class="slide">
            <h1 class="text">Passo 1: semelhante à Quadrada, no entanto, você inspira por quatro segundos (pelo nariz).
            </h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 2: expulse o ar pela boca durante dobro do tempo (isto é, por oito segundos).</h1>
          </ion-slide>
          <ion-slide class="slide">
            <h1 class="text">Passo 3: Repita até sentir alivio!.</h1>
          </ion-slide>
        </ion-slides>
      </ion-card>
    </div>
  </div>

</ion-content>

<ion-card class="ion-margin-bottom text1">
  <ion-card-header>
    <ion-card-title>Breve explicação:</ion-card-title>

    <ion-card-subtitle>
      <p>
        O treino de respiração significa que mais oxigênio entra em seu corpo,
        ou seja, mais energia e maior expulsão de toxinas, e que tem uma espécie de efeito calmante.
      </p>
    </ion-card-subtitle>
  </ion-card-header>

</ion-card>