<ion-header> <!--Ola mundo!-->
  <!--Orlando 51-->
  <ion-toolbar color = "tertiary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menuApp"></ion-menu-button>
    </ion-buttons>
    <ion-label>A-Care</ion-label>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="nome-do-conteudo" menuId="menuApp" side="start" type="overlay">
  <ion-header>
    <ion-toolbar color = "tertiary">
      <ion-title>A-Care</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-item button routerLink="/home/perfil">
    <ion-label>Perfil</ion-label>
  </ion-item>
    <ion-item button routerLink="/home/forum">
      <ion-label>Fórum</ion-label>
    </ion-item>
    <ion-item button routerLink="/home/treino-resp">
      <ion-label>Treino de Respiração</ion-label>
    </ion-item>
    <ion-item button routerLink="/home/ajudamedica">
      <ion-label>Ajuda Médica</ion-label>
    </ion-item>
    <ion-item button routerLink="/home/dicas">
      <ion-label>Dicas de Autotratamento</ion-label>
    </ion-item>
    <ion-item button routerLink="/home/sobre">
      <ion-label>Sobre o App</ion-label>
    </ion-item>
    
    <ion-item slot="" (click) = "sair()" class="vermelho">Desconectar<ion-icon style = "padding: .2em;" name="log-out-outline" color="vermelho"></ion-icon></ion-item>
  </ion-content>
</ion-menu>

<ion-content>
  <ion-router-outlet id="nome-do-conteudo"></ion-router-outlet>
</ion-content>