<ion-header>
  <ion-toolbar color = "tertiary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menuApp"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu contentId="nome-do-conteudo" menuId="menuApp" side="start" type="overlay">
  <ion-header>
    <ion-toolbar color = "tertiary">
      <ion-title>A-Care</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item button routerLink="/home/forum">
      <ion-label>Fórum</ion-label>
    </ion-item>
    <ion-item button routerLink="/home/sobre">
      <ion-label>Sobre o App</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-content>
  <ion-router-outlet id="nome-do-conteudo"></ion-router-outlet>
</ion-content>