<ion-header>
  <ion-toolbar>
    <ion-title><strong>Sobre</strong></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-text>
    <h2>Motivação</h2>
  </ion-text>

  <ion-text color="danger" class = "ion-margin-bottom">
    <p>
      Um App criado por 5 estudantes com o intuito de ter um local onde os usuarios com
      diagnostico de ansiedade possam interagir com médicos e outras pessoas.
      As pessoas precisam de um sistema que consiga 
      Auxiliar no tratamento de Ansiedade, na vida social e no relaxamento. 
    </p>
  </ion-text>

<!--   <ion-row class = "ion-margin-bottom">
    <ion-col *ngFor = "let i of [1,2,3,4,5]">
      <ion-avatar class = "user-avatar">
        <img [src]="'https://randomuser.me/api/portraits/men/'+i+'.jpg'" alt="men">
      </ion-avatar>
    </ion-col>
  </ion-row> -->
  <ion-row class = "ion-margin-bottom">
    <ion-col>
      <ion-avatar class = "user-avatar">
        <img src="./assets/img/daniel.jpg" alt="daniel">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-avatar class = "user-avatar">
        <img src="./assets/img/gabriel.jpg" alt="gabriel">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-avatar class = "user-avatar">
        <img src="./assets/img/matheus.jpg" alt="matheus">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-avatar class = "user-avatar">
        <img src="./assets/img/victor.jpg" alt="victor">
      </ion-avatar>
    </ion-col>
    <ion-col>
      <ion-avatar class = "user-avatar">
        <img src="./assets/img/zhou.jpg" alt="zhou">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-card class = "ion-no-margin">
    <img class = "imagem-card" src="https://www.delas.pt/files/2020/03/iStock-521815364-1200x675.jpg" />
    <ion-card-content>
      Segundo levantamento da OMS (2016) cerca de 33% da População mundial 
      sofre de ansiedade e o Brasil foi considerado o segundo 
      Maior país de pessoas ansiosas em 2019.
    </ion-card-content>
  </ion-card>

  <ion-text>
    <h2>Funcionalidades do App</h2>
  </ion-text>

  <ion-text color="danger">
    <p>
      O sistema conta com as funcionalidades pensadas 
      para pessoas como você que quer se prevenir e cuidar da Ansiedade, 
      como o Fórum um local onde se pode socializar e conversar com várias
      pessoas incluindo noticias referente a súde e bem-estar. 
    </p>
  </ion-text>
</ion-content>