
<ion-content class="ion-padding">
  <ion-text>
    <h2>Motivação</h2>
  </ion-text>

  <ion-text color="danger" class = "ion-margin-bottom">
    <p>
      App criado por 5 estudantes que visa prevenir e cuidar de pessoas com ansiedade.
      As Pessoas precisam de um sistema que consiga Diagnosticar e Auxiliar no 
      tratamento de pessoas com Ansiedade. 
    </p>
  </ion-text>

  <ion-row class = "ion-margin-bottom">
    <ion-col *ngFor = "let i of [1,2,3,4,5]">
      <ion-avatar class = "user-avatar">
        <img [src]="'https://randomuser.me/api/portraits/men/'+i+'.jpg'" alt="men">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-card class = "ion-no-margin">
    <img class = "imagem-card" src="https://www.delas.pt/files/2020/03/iStock-521815364-1200x675.jpg" />
    <ion-card-content>
      Segundo levantamento da OMS (2016) cerca de 33% da População mundial 
      sofre de ansiedade e o Brasil foi considerado o segundo 
      Maior país de pessoas ansiosas em 2019.
    </ion-card-content>
  </ion-card>

  <ion-text>
    <h2>Funcionalidades do App</h2>
  </ion-text>

  <ion-text color="danger">
    <p>
      O sistema junto com os sensores vem com as funcionalidades pensadas 
      para pessoas como você que quer se prevenir e cuidar da Ansiedade, 
      com o Fórum onde pode se socializar e conversar com várias pessoas 
      e a musicoterapia para deixar você mais relaxado e se sentindo bem. 
    </p>
  </ion-text>
</ion-content>